/* =======browser reset========== */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
html,body{
    overflow-x: hidden;
    font-size: 16px;
    line-height: 28px;
}

a,
a:hover {
    text-decoration: none;
    transition: all linear .3s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

ul,
ol,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* ==========browser reset end=========== */

/* ============common font size and color==========*/

.subTitle {
    font-size: 16px;
    letter-spacing: 0.2px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    margin-bottom: 10px;
    text-transform: capitalize;
    color: #ff4522;
    display: inline-block;
}

.secTtitle {
    font-size: 30px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: #222222;
}

.primary_btn {
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
    outline: none;
    color: #f1f1f1;
    background-color: #ff4522;
    font-size: 20px;
    text-transform: capitalize;
    cursor: pointer;
    transition: all linear .3s;
}

.primary_btn:hover {
    box-shadow: 0 0 2px #222222;
    color: #222222;
    background-color: transparent;
}

p {
    font-size: 16px;
    line-height: 28px;
    margin: 0;
    padding: 0;
    color: #444444;
}

/* ===========common spacing=============== */
.secPadding{
    padding-top: 140px;
    padding-bottom: 140px;
}
.secGap {
    margin-top: 80px;
}

.mt_10 {
    margin-top: 10px;
}

.mt_15 {
    margin-top: 15px;
}

.mt_20 {
    margin-top: 20px;
}

.mt_30 {
    margin-top: 30px;
}

.mt_40 {
    margin-top: 40px;
}

.mt_50 {
    margin-top: 50px;
}